apiVersion: v1
kind: Service
metadata:
  name: todo-backend-service
  namespace: todo-app
spec:
  type: NodePort
  selector:
    app: todo-backend
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30081