apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-frontend-deployment
  namespace: todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-frontend
  template:
    metadata:
      labels:
        app: todo-frontend
    spec:
      containers:
        - name: todo-frontend
          image: nikolaybelperchinov/todo-frontend:v4
          ports:
            - containerPort: 80